html {
  position: fixed;
}
* {
  width: 100%;
  height: 100%;
}


#stars{
    position: fixed;
    left: 0;
    top: 0%;
    width: auto;
    height: auto;
    z-index: 9;
    opacity: 0;
}
#txt {
    width: 100%;
    font-size: 90px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0%;
    z-index: 100;
}


#cloud1 {
      position: fixed;
      z-index: 11;
      top: 10vh;
      left: -100%;
      width: 100vw;
      height: 50vw;
}
#cloud2 {
      position: fixed;
      z-index: 11;
      top: 0vh;
      left: -100%;
      width: 100vw;
      height: 50vw;
  }

  #cloud3 {
        position: fixed;
        z-index: 6;
        top: 10vh;
        left: -100%;
        width: 100vw;
        height: 50vw;
        transform: perspective();
  }
  #cloud4 {
        position: fixed;
        z-index: 6;
        top: 0vh;
        left: -100%;
        width: 100vw;
        height: 50vw;
    }


body {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f46842;
  }

#sun {
    position: fixed;
    z-index: 10;
    bottom: 0vh;
    left: 0vw;
    width: 30vw;
    height: 30vw;
  }


/*vm en vh is hoeveel van het scherm*/

#nightsky {
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0%;
  opacity: 0;
  position: fixed;
}

#mars {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 11;
}

#backgroundcolor {
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0%;
  position: fixed;
  opacity: 0;
}

@keyframes sun {

  0%  {
    width: 300%;
    height: 200%;
    bottom: -150%;
    left: -80%;
    opacity: 1;
  }
  1% {
    width: 160%;
    height: 160%;
    opacity: 1;
  }

  30% {
    width: 30%;
    height: 30%;
    bottom: 75%;
    left: 70%;
}
  40% {
    width: 30%;
    height: 30%;
    bottom: 75%;
    left: 70%;
}
  50% {
    width: 30%;
    height: 30%;
    bottom: 75%;
    left: 70%;
}

  60%;  {
    width: 30%;
    height: 30%;
    bottom: 75%;
    left: 70%;
  }

  75%;  {
    width: 30%;
    height: 30%;
    bottom: 80%;
    left: 70%;
  }

  99% {
    width: 160%;
    height: 160%;
  }

  100% {
    width: 250%;
    height: 150%;
    bottom: -150%;
    left: -80%;
  }
}
  @keyframes nightsky  {

  0%  {
    top: 0%;
    opacity: 0;
    }
  1% {
    top: 0%;
    opacity: 0.8;
  }
  25% {
    top:0%;
    opacity: 0;
}
  50%;  {
    top:0%;
    opacity: 0.8;
    }

    75% {
      top: 0%;
      opacity: 1;
      }

    100%;{
      top: 0%;
      opacity: 1;
    }
  }
@keyframes stars  {

  0%   {
      top: 0%;
      opacity: 1;
    }

  5% {
      top: 0%;
      opacity: 0;
  }
  25% {
    top: 0%;
    opacity: 0;
  }

  50%;  {
    top: 0%;
    opacity: 0;
  }

  75% {
    top: 0%;
    opacity:0;
  }

  80% {
    top: 0%;
    opacity: 1;
  }

  100%;{
    top: 0%;
    opacity: 1;
  }
}

@keyframes backgroundcolor {

  0% {
    opacity: 0;
    top: 0%;
  }
  10% {
    opacity: 0.1;
    top:0%;
  }
  20% {
    top: 0%;
    opacity: 0.4;
  }
  25% {
    top: 0%;
    opacity: 0.5;
  }

  50%;  {
    top: 0%;
    opacity: 1;
  }
60%;  {
    top: 0%;
    opacity: 1;
  }
  75% {
      opacity: 0;
      top: 0%;
    }
  80% {
      top: 0%;
      opacity: 0;
    }
  100% {
      top: 0%;
      opacity: 0;
    }
}



@media only screen and (orientation : landscape)  {
  body {
    background-size:cover;
}

}
/*tablet breakpoint*/

@media only screen and (min-width: 600px) {


}

/*Desktop breakpoint*/
@media only screen and (min-width: 1200px) {
